#Data
data/raw/*
data/interim/*
data/processed/*


#Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc


#Virtual Environment
venv/
.env/
.venv/


#Jupyter/IPython
.ipynb_checkpoints/


#Logs
*log
*.log
*.tmp
*.bak
*.swp


#IDE
.vscode/
.idea/


#Docker
*.docker
docker-compose.override.yml


#MLFlow/artefacts
mlflow/
*.mlmodel
*.pkl
*.joblib

#System
.DS_Store
Thumbs.db
